:root {
  --bg: #e1e1fa;
  --text: #1c095c;
}

<link rel="stylesheet" href="https://googleapis.com">

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'EB Garamond', Garamond, Georgia, serif;;
}
